@model LungMed.Models.HealthCard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HealthCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicines)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diseases)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diseases)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allergies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BleedingDisorders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BleedingDisorders)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pregnancy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pregnancy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PregnancyWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PregnancyWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
