@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Tittle"] = "Roles";
}
<h1>Application Roles</h1>

<p>
    <a asp-action="Create">Create New Role</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.NormalizedName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modeliteam=>item.Id)</td>
                <td>@Html.DisplayFor(modeliteam => item.Name)</td>
                <td>@Html.DisplayFor(modeliteam => item.NormalizedName)</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>