@model LungMed.ViewModels.PatientViewModel

@{
    ViewData["Title"] = "Patients";
}

<h1>Patients</h1>

<p>
    <a asp-action="Create">Add a new patient</a>
</p>
<form asp-controller="Patients" asp-action="Index" method="get">
    <p>
        Personal number: <input type="text" asp-for="PersonalNumberPatientSearch" />
        Doctor's last name: <input type="text" asp-for="LastNameDoctorSearch" />
        Doctor's Id <input type="text" asp-for="DoctorIdSearch" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patients![0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients![0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients![0].PersonalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients![0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients![0].BirhtDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients![0].Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients![0].DoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients![0].Doctor!.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients![0].Doctor!.LastName)
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patients!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirhtDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor!.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor!.LastName)
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
