@using Microsoft.AspNetCore.Identity
@model LungMed.ViewModels.UserSearchViewModel
@{
    ViewData["Tittle"] = "System Users";
}
<h1>Users</h1>

<p>
    <a asp-action="CreateAdmin" class="btn btn-primary"><i class="fa fa-plus"></i>Create user for admin</a>
    <a asp-action="CreateDoctor" class="btn btn-primary"><i class="fa fa-plus"></i>Create user for doctor</a>
    <a asp-action="CreatePatient" class="btn btn-primary"><i class="fa fa-plus"></i>Create user for patient</a>
</p>

<form asp-controller="Users" asp-action="Index" method="get">
    <div class="row align-items-center">
        <div class="col-md-2">
            <select asp-for="RoleSearchString" asp-items="Model.Roles" class="form-control">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-md-2">
            <input type="text" id="LastNameSearchString" name="LastNameSearchString" class="form-control" placeholder="Enter last name..." />
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>
<br />

<div class="card">
    <div class="card-header">
        <h3 class="card-title">List</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Doctor ID</th>
                    <th>Patient ID</th>
                    <th>Role Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users!)
                {
                    <tr>
                        <td>@Html.DisplayFor(modeliteam => item.FirstName)</td>
                        <td>@Html.DisplayFor(modeliteam => item.LastName)</td>
                        <td>@Html.DisplayFor(modeliteam => item.DoctorId)</td>
                        <td>@Html.DisplayFor(modeliteam => item.PatientId)</td>
                        <td>@Html.DisplayFor(modeliteam => item.Role.Name)</td>
                        <td>@Html.DisplayFor(modeliteam => item.Email)</td>

                        <td class="text-center">
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>