@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>
@{
    ViewData["Tittle"] = "System Users";
}
<h1>Users</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i>Create user for admin</a>
    <a asp-action="CreateDoctor" class="btn btn-primary"><i class="fa fa-plus"></i>Create user for doctor</a>
    <a asp-action="CreatePatient" class="btn btn-primary"><i class="fa fa-plus"></i>Create user for patient</a>
</p>



<div class="card">
    <div class="card-header">
        <h3 class="card-title">List</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Doctor ID</th>
                    <th>Patient ID</th>
                    <th>Role Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modeliteam => item.FirstName)</td>
                        <td>@Html.DisplayFor(modeliteam => item.LastName)</td>
                        <td>@Html.DisplayFor(modeliteam => item.DoctorId)</td>
                        <td>@Html.DisplayFor(modeliteam => item.PatientId)</td>
                        <td>@Html.DisplayFor(modeliteam => item.Role.Name)</td>
                        <td>@Html.DisplayFor(modeliteam => item.Email)</td>

                        <td class="text-center">
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>