@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>
@{
    ViewData["Tittle"] = "System Users";
}
<h1>Users</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i>Create New User</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            @* <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.NormalizedEmail)</th>
            <th>@Html.DisplayNameFor(model => model.NormalizedUserName)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th> *@

            <th>User Serial No</th>
            <th>User Email</th>
            <th>User PhoneNo</th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modeliteam => item.Id)</td>
                <td>@Html.DisplayFor(modeliteam => item.Email)</td>
                <td>@Html.DisplayFor(modeliteam => item.PhoneNumber)</td>
                <td>
                    <div class="input-group input-group-lg">
                        <divc class="input-group-prepend">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class ="fa fa-edit"></i>Edit</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-eye"></i>View</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a></li>
                                @* <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><a asp-action="ApproveLeave" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-check"></i>Approve</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><a asp-action="RejectLeave" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-check"></i>Reject</a></li> *@
                            </ul>

                        </divc>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>