@model LungMed.ViewModels.DoctorViewModel

@{
    ViewData["Title"] = "Doctors";
}

<h1>Doctors</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i>Add a new doctor</a>
</p>
<form asp-controller="Doctors" asp-action="Index" method="get">
    <div class="row align-items-center">
        <div class="col-md-2">
            <input type="text" asp-for="FirstNameSearch" class="form-control" placeholder="Enter first name..." />
        </div>
        <div class="col-md-2">
            <input type="text" asp-for="LastNameSearch" class="form-control" placeholder="Enter last name..." />
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>
<br />

<div class="card">
    <div class="card-header">
        <h3 class="card-title">List</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Doctors![0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Doctors![0].FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Doctors![0].LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Doctors![0].PhoneNumber)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Doctors!)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        </td>
                        <td class="text-center">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Details</a>
                        </td>
                        <td class="text-center">
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>